<div [ngSwitch]="situation" #switchContainer>
    <ng-container *ngFor="let status of statusList">
        <ayu-image-background [status]="status" *ngSwitchCase="status.situation.toString()"></ayu-image-background>
    </ng-container>
</div>