<sample-final-input-status [status]="status.valueA"></sample-final-input-status>
<sample-final-input-status [status]="status.valueB"></sample-final-input-status>
<sample-final-input-status [status]="status.valueC"></sample-final-input-status>